.place__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: white;
  text-align: left;
  margin: 0 0 48px;
  max-width: 460px;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .place__title {
    max-width: 440px;
  }
}

@media screen and (max-width: 840px) {
  .place__title {
    max-width: 380px;
  }
}

@media screen and (max-width: 768px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
    max-width: 340px;
  }
}

@media screen and (max-width: 680px) {
  .place__title {
    max-width: 100%;
    font-size: 32px;
    line-height: 35px;
  }
}

@media screen and (max-width: 320px) {
  .place__title {
    margin: 0 auto 32px;
    max-width: 288px;
  }
}
