.places {
  max-width: calc(1280px - 2 * 148px);
  width: 100%;
  margin: 92px auto 92px;
}

@media screen and (max-width: 1024px) {
  .places {
    max-width: calc(100vw - 2 * 48px);
  }
}

@media screen and (max-width: 768px) {
  .places {
    max-width: calc(100% - 2 * 24px);
    margin-top: 88px;
  }
}

@media screen and (max-width: 320px) {
  .places {
    max-width: 320px;
    margin: 64px auto 66px;
  }
}
