.place__image {
  grid-row: 2/4;
  grid-column: 1/2;
  max-width: 460px;
}

@media screen and (max-width: 1024px) {
  .place__image {
    max-width: 440px;
  }
}

@media screen and (max-width: 840px) {
  .place__image {
    max-width: 380px;
  }
}

@media screen and (max-width: 768px) {
  .place__image {
    max-width: 340px;
  }
}

@media screen and (max-width: 680px) {
  .place__image {
    grid-row: 3/5;
    grid-column: 1/2;
    margin: 0 auto 0;
    max-width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .place__image {
    grid-row: 3/5;
    grid-column: 1/2;
    max-width: 320px;
  }
}
