.lead {
  margin: 0 auto 92px;
  max-width: 984px;
  padding: 0;
}

@media screen and (max-width: 1024px) {
  .lead {
    max-width: calc(100% - 2 * 48px);
  }
}

@media screen and (max-width: 768px) {
  .lead {
    margin-bottom: 88px;
    max-width: 768px;
  }
}

@media screen and (max-width: 320px) {
  .lead {
    margin: 0 auto 64px;
    max-width: 320px;
  }
}
