.place__text {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

@media screen and (max-width: 680px) {
  .place__text {
    margin-top: 32px;
  }
}

@media screen and (max-width: 320px) {
  .place__text {
    gap: 26px;
  }
}
