.place__text {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

@media screen and (max-width: 940px) {
  .place__text {
    margin-top: 32px;
  }
}

@media screen and (max-width: 768px) {
  .place__text {
    margin-top: 0px;
  }
}

@media screen and (max-width: 760px) {
  .place__text {
    margin-top: 32px;
  }
}
