.footer__links {
  display: flex;
  justify-content: flex-start;
  gap: 18px;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .footer__links {
    max-width: 456px;
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .footer__links {
    flex-direction: column;
    gap: 32px;
    margin: 0;
  }
}
