.place__paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 26.08px;
  text-align: left;
  color: white;
  max-width: 484px;
  margin: 0 auto 0;
  padding: 0;
  height: max-content;
}

@media screen and (max-width: 1024px) {
  .place__paragraph {
    max-width: 456px;
  }
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    max-width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .place__paragraph {
    max-width: 288px;
  }
}
