.footer__copyright {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: right;
  color: white;
  margin: 0 48px 0 0;
  padding: 0;
  width: fit-content;
}

@media screen and (max-width: 768px) {
  .footer__copyright {
    margin: 0 24px 0 0;
  }
}

@media screen and (max-width: 750px) {
  .footer__copyright {
    margin: 0 0 0 24px;
  }
}

@media screen and (max-width: 320px) {
  .footer__copyright {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: right;
    color: white;
    margin: 0;
    padding: 0;
    width: fit-content;
  }
}
