.intro {
  max-width: 984px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 auto 92px;
}
@media screen and (max-width: 1024px){
  .intro {
    max-width:calc(100% - 2 * 48px);
    /* width:100%; */
  }
}
@media screen and (max-width: 768px){
  .intro {
   margin: 0 auto 88px;
   max-width: calc(100% - 2 * 24px);
  }
}
@media screen and (max-width: 320px){
  .intro {
    max-width: 288px;
    margin: 0 auto 64px;
  }
}
