.cover {
  max-width:1184px;
  margin: 0 auto 92px;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 1024px){
  .cover {
    max-width: 1024px;
  }
}
@media screen and (max-width: 768px){
  .cover {
    max-width:768px;
    margin: 0 auto 88px;
    min-height: 480px;
  }
}
@media screen and (max-width: 320px){
  .cover {
    max-width:320px;
    margin: 0 auto 64px;
    min-height: 200px;
  }
}
