.cover__background {
  background-image: url(images/cover-trains.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin: 0;
  opacity: 80%;
  position: absolute;
  top: 0;
  left:0;
  z-index: 2;
  /* display: block; */
}
.cover__background:hover {
  opacity: 30%;
}

@media screen and (max-width: 1024px){
  .cover__background {
    max-width: 1024px;
  }
}
@media screen and (max-width: 768px){
  .cover__background {
    max-width:768px;
  }
}
@media screen and (max-width: 320px){
  .cover__background {
    max-width:320px;
  }
}
