.cover__title {
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  text-align: center;
  position: relative;
  margin: 0 auto 32px;
  max-width: 560px;
  z-index: 4;
  color: white;
}
@media screen and (max-width: 700px){
  .cover__title {
    font-size: 52px;
    line-height: 54px;

  }
}
@media screen and (max-width: 320px){
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    margin: 0 auto 16px;
    max-width: 288px;
    color: white;
  }
}
