.place {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
  margin-bottom: 80px;
  column-gap: 40px;
}

.place:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .place {
    column-gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    column-gap: 28px;
  }
}

@media screen and (max-width: 700px) {
  .place {
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(auto-fit, auto);
    margin-bottom: 50px;
    max-width: 100%;

    margin: 0 auto 48px;
  }
}

@media screen and (max-width: 320px) {
  .place {
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(auto-fit, auto);
    margin-bottom: 50px;
  }
}
