.footer {
  margin: 0 auto 24px;
  display: flex;
  justify-content: space-between;
  max-width: 1184px;
  padding: 0;
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 720px;
  }
}

@media screen and (max-width: 750px) {
  .footer {
    flex-direction: column;
    justify-content: flex-start;
    gap: 48px;
  }
}

@media screen and (max-width: 560px) {
  .footer__links {
    flex-direction: column;
    gap: 32px;
    margin: 0 0 0 24px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    margin: 0 auto 24px;
    flex-direction: column;
    max-width: 288px;
    gap: 48px;
  }
}
