.place__website {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 0 48px;
  padding: 0;
  gap: 12px;
}
@media screen and (max-width: 700px){
  .place__website {
    margin:0 0 32px ;auto
    max-width: 288px;
    width: 100%;
    grid-row: 2/3;
    grid-column:1/2;
  }
}
@media screen and (max-width: 320px){
  .place__website {
   margin:0 auto 32px;
   max-width: 288px;
   width: 100%;
   grid-row: 2/3;
   grid-column:1/2;
 }
}
